[Unit]
Description=Restic Backup Service
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=oneshot
User=restic
ExecStart=/usr/local/bin/restic-offsite backup '/home/<user>' --exclude '/home/*/.*' --verbose
ExecStartPost=/usr/local/bin/restic-offsite forget --keep-within-daily 7d --keep-within-weekly 1m --keep-within-monthly 1y --keep-within-yearly 10y --verbose
AmbientCapabilities=CAP_DAC_READ_SEARCH
