[Unit]
Description=Restic Backup Service

[Service]
Type=oneshot
ExecStart=restic-offsite backup "$HOME" --exclude "$HOME/"'/.*' --verbose
ExecStartPost=restic-offsite forget --keep-within-daily 7d --keep-within-weekly 1m --keep-within-monthly 1y --keep-within-yearly 10y --verbose
