[Unit]
Description=Restic Prune service
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restic-offsite prune
